/* App styling */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  color: var(--light-cyan);

  font-size: calc(1rem + 0.25vw);
  font-weight: 500;

  & .nav-links__login {
    color: var(--neon-green);

    &:hover {
      color: var(--neon-green-dark);
    }
  }

  & .nav-links__signup {
    background-color: var(--neon-green);
    color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--dark-grayish-blue);
      color: var(--light-cyan);
    }
  }

  & .nav-links__login,
  & .nav-links__signup {
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-out;
    }
  }
}
